body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	height: 100%;
}

@media screen and (max-width: 899px) {
	body {
		overflow-y: hidden;
	}
}

.main {
	padding: 150px 15px;
	position: relative;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.main .container { position: relative; }

.main .sub_title { 
	font-size: 3em;
	margin-bottom: 60px;
}

.main .sub_title:after { 
	width: 45%;
}


@media screen and (max-width: 480px) { 
	.main .sub_title { 
		font-size: 1.9em;
		margin-bottom: 40px;
	}
}

.main .sub_title:after {	
	background: #F97E03;
	height: 2px;
	content:'';
	display: block;
	margin: 10px auto 0;
	
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#232323), to(#232323), color-stop(50%, #F97E03));
	background: -moz-radial-gradient(#F97E03, #000);
	background: -o-radial-gradient(#F97E03, #000);
}

.main .darker {
	background: #000;
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
}

/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
.content {
	position: relative;
  z-index: 200;
  height: 100%;
  width: 100%;
}


/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header  {	
	top: 0;
	width: 100%;
	z-index: 1;
	height: 100%;
}

header a, header a:visited {  color: #FFF;  }

/*------------------------------------*\
    $MENU
\*------------------------------------*/
.navbar {
	font-size: 14px;
	line-height: 1px;
	position: absolute;
	text-align: center;
	width: 100%;
	display: none;
}

.logo-kakao {
	color: #FFF !important;
	display: none;
	padding: 4px 10px 3px 0;
	margin-left: 1em !important;
}

.logo-kakao:hover, .logo-kakao:active {
	color: #FFA500 !important;
}

.affix .logo-kakao {
	display: block !important;
}

.navbar.affix {
	height: 50px;
	position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  display:block;
}

.navbar-collapse {
	max-height: none;
}

.navbar-collapse.in { overflow: hidden; }

.navbar, .navbar .container, .nav.navbar-nav>li.dropdown>ul, .nav.navbar-nav>li.dropdown>button { background-color: #171717; }

.nav.navbar-nav>li.dropdown {
	padding-top: 0.67em;
}

.nav.navbar-nav>li.dropdown>button {
	color: #FFF;
	border: 0;
}

.nav>li>a, .nav>li>a, .nav.navbar-nav>li.dropdown>ul>li>a {
	color: #FFF;
	padding-left:15px;
}

 .nav.navbar-nav>li.dropdown>ul>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
 }

.nav>li>a:hover, .nav>li>a:focus, .nav.navbar-nav>li.dropdown>button:hover,
.nav.navbar-nav>li.dropdown>ul>li>a:hover, .nav.navbar-nav>li.dropdown>ul>li>a:focus {
	background-color: #171717;
	color: #F69136;
}

.navbar-nav>.active a { color: #FFA500 !important; }

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	display: none;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
 	.navbar .container {
 		width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.es .navbar .container {
		width: 100%;
	}
}

@media (max-width: 1098px) {
    .es .navbar-header {
        float: none;
    }

    .es .navbar-toggle {
        display: inline-block;
    }

    .es .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .es .navbar-collapse.collapse {
        display: none !important;
    }

    .es .navbar-collapse.collapse.in {
    	display: inline-block !important;
    }

    .es .navbar-nav {
    	display: block;
        float: none !important;
        margin: 7.5px -15px;
    }

    .es .navbar-nav > li {
        float: none;
    }

    .es .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 902px) {
	.en .navbar-header {
  		float: none;
	}

   .en .navbar-toggle {
	   display: inline-block;
   }

   .en .navbar-collapse {
       border-top: 1px solid transparent;
       box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
   }

   .en .navbar-collapse.collapse {
       display: none !important;
   }

   .en .navbar-collapse.collapse.in {
   	display: inline-block !important;
   }

   .en .navbar-nav {
   		display: block;
		float: none !important;
       	margin: 7.5px -15px;
   }

   .en .navbar-nav > li {
       float: none;
   }

   .en .navbar-nav > li > a {
       padding-top: 10px;
       padding-bottom: 10px;
 	}
 }

@media screen and (min-width: 768px) {
	.navbar-nav {
		display: inline-block;
		float: none;
		margin: 0;		
	}
}

@media screen and (max-width: 767px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid {
		color: #FFF;
		display: inline-block;
	}
}

/*------------------------------------*\
    $FRONT-PAGE
\*------------------------------------*/
#front_page {
	background: url("/img/front_page.jpg") center center no-repeat fixed;
	background-size: cover;
	color: #F2F2F2;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: table;
	padding: 0;

	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;	
}

#front_page > .container {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

#front_page #large-header {
	position: absolute;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	height: 100% !important;
	width: 100% !important;
}

#front_page .main_title {
	font-size: 10em;
	margin: 0 0 10px;
	padding: 0;
}

#front_page .main_title img {
	width:auto;
	height:auto;
	max-width: 100%;
	max-height: 100%;
}

#front_page h2 { 
	color: #F69136;
	display: inline;
	font-size: 3em;
	margin: 0;
	padding: 0;
	opacity: 1;
	position: relative;
	right: -200px;
	top: -45px;
}

#front_page .info_list { 
	padding: 0 86px;
	margin: 10px 0 0;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
	#front_page .info_list { 
		padding: 0 10px;
	}
}

.es #front_page .row div {
	padding-left: 10px;
	padding-right: 10px;
}

.es #front_page .info_list {
	font-size: 	23px;
	padding: 0 50px;
}

#front_page .row {
	border: 3px solid #FFF;
	padding: 5px 0;
}

@media (max-width: 767px) {

	#front_page h2 {
		right: -150px;
		top: -30px;
	}

}

@media (max-width: 498px) {
	
	#front_page .main_title { font-size: 7em; }

	#front_page h2 {		
		font-size: 2em;
		right: -110px;
		top: -20px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) { 

	#front_page .row div { font-size: 0.7em; }

	.es #front_page .row div { 
		font-size: 0.8em; 
		padding: 0;
	}
}

@media screen and (max-height: 400px) {
	#front_page .main_title img {
		width: auto;
		height: 120px;
	}
}

/*------------------------------------*\
    $QUOTE
\*------------------------------------*/
#quote { background-color: #FFF;}

#quote h2 {	
	font-size: 3em;
	margin-bottom: 60px;
	font-weight: 300;
}

#quote .rotate {
	font-size: 1em;
}

#quote .rotate span {
	display: none;
}

@media screen and (min-width: 600px) and (max-width: 1000px) { 
	#quote h2 {	
		font-size: 2.5em;
	}
}

@media screen and (max-width: 599px) { 
	#quote h2 {	
		font-size: 1.8em;
		margin-bottom: 0;
	}
}

/*------------------------------------*\
	$WHO-WE-ARE
\*------------------------------------*/
#who_we_are {
	background-color: #232323;
	color: #FFF;
}

#who_we_are .sub_title:after { width: 40%; }

@media screen and (min-width: 768px) and (max-width: 840px) { 
	#who_we_are p {	
		font-size: 1em;
		margin: auto;
	}
}

/*------------------------------------*\
	$WHAT-WE-DO
\*------------------------------------*/
#what_we_do {
	background: url("../img/what_we_do.jpg") center center no-repeat fixed;
	background-size: cover;
	color: #FFF;
	min-height: 597px;
	transition: all .2s ease-in-out;

	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;

	-o-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

#what_we_do .sub_title:after {
	width: 39%;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(#000), color-stop(50%, #F97E03));
	background: -moz-radial-gradient(#F97E03, #A40, #000);
	background: -o-radial-gradient(#F97E03, #A40, #000);
}

#what_we_do .darker { opacity: 0.4; }

#what_we_do .row { position: relative; }

#what_we_do .row .first_group > div, #what_we_do .row .second_group > div { 
	font-size: 17px; 
	margin-bottom: 20px; 
	position: initial;
}

#what_we_do .title_info { cursor: pointer; }

#what_we_do .row .active span, #what_we_do .row .title_info:hover span {
	border-color: #30BAA4 !important; 
	color: #30BAA4 !important;
}

#what_we_do .info {
	display: none;
	left: 2.5em;
	margin-top: 30px;
	opacity: 0.8;
	position: relative;
	text-align: justify;
	margin-right: 4.8em;
}

@media screen and (max-width: 321px){
	#what_we_do .info {
		text-align: center;
	}
}

#what_we_do .first_group .title_info .fontello, #what_we_do .second_group .title_info .fontello{
	position:relative;
	top: 1px;
	font-size:2.5em;
	padding: 0.2em !important;
	opacity: 1 !important;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	font-size: 3em; 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#what_we_do #descr-row .fontello, #what_we_do .first_group .info .fontello, #what_we_do .second_group .info .fontello {
	color: #17DDC5;
	font-size:2em;
	display: inline-block;
	line-height: 0;
	opacity: 1 !important;
	position: absolute;
	vertical-align: middle;
	padding-top:0.12em;
	top:0;
	margin-top: -0.8em;

	display: -moz-inline-box;
}

#what_we_do .info p {
	background-color: #17DDC5;
	padding: 30px;
}

#what_we_do .row .title_info span{ 
	border: 3px solid #FFF;
	padding: 20px;
}

#what_we_do .row .title_info span p{ 
	font-size: 2em;
}


#what_we_do #info_desc {
	font-size: 16px;
}

#what_we_do .row .title_info p { margin-top: 20px; }

#what_we_do .row .title_info p span {
	font-size: 1em;
	padding: 5px 5px;
	margin: 15px 0px 0;
}

@media screen (min-width: 992px) {
	#what_we_do .row .first_group, #what_we_do .row .second_group { height: 0; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) { 
	#what_we_do .row .title_info p span { font-size: 0.9em; }
	.es #what_we_do .row .title_info p span { font-size: 0.8em; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#what_we_do { padding-bottom: 30px; }

	#what_we_do .row .first_group, #what_we_do .row .second_group {
		height: 160px;
	}

	#what_we_do .info {
		left: 16%;
		margin-right: 29%;
	}

	#what_we_do .row .first_group > div:nth-child(1) .arrow { left: 10%; }
	#what_we_do .row .first_group > div:nth-child(2) .arrow { left: 83%; }
	#what_we_do .row .second_group > div:nth-child(1) .arrow { right: 85%; }
	#what_we_do .row .second_group > div:nth-child(2) .arrow { right: 11%; }
}

@media screen and (max-width: 767px) {
	#what_we_do { padding-bottom: 30px; }

	#what_we_do .info {
		left: 0;
		width: 100%;
		position: relative;
	}

	#what_we_do .row .arrow { 
		left: 48% !important;
	}
}



/*------------------------------------*\
	$HOW-WE-WORK
\*------------------------------------*/
#how_we_work { 
	color: #FFF;
	/*background: url("../img/how_we_work.jpg") center center no-repeat fixed;*/
	background-color: #FFF;
	color: #000;
	background-size: cover;
}

#how_we_work h2:after { 
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(#FFF), color-stop(50%, #F97E03));
	background: -moz-radial-gradient(#F97E03, #FFF);
	background: -o-radial-gradient(#F97E03, #FFF);
	width: 48%;
}

#how_we_work .row div {
	padding: 0 10px;
	margin: 0 45px 20px;
}

#how_we_work h3 { 
	font-weight: 700;
}

#how_we_work p { 
	font-size: 1em;
	text-align: justify;
}

@media screen and (min-width: 992px) and (max-width: 1199px) { 
	#how_we_work .row div {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media screen and (max-width: 991px) { 
	#how_we_work .row div {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 767px) {
	#how_we_work p { font-size: 1em; }	
}





/*------------------------------------*\
	$TOOLS
\*------------------------------------*/
#tools { 
	background-color: #232323;
	color: #FFF;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
}

#tools .sub_title:after {
	width: 33%;
}

#tools .resume_tools .points_container {
	font-size: 0.4em;
	line-height: 10px;
	text-align: center;
}

#tools .resume_tools .points_container span {
	background-color: #31BBA6;
	margin: 0 5px;
	padding: 0 5px;
}

#tools .resume_tools { 
	padding-left: 160px;
	padding-right: 160px;
}

#tools .resume_tools .media { 
	margin-top: 0; 
}

#tools .resume_tools .media:last-child { margin-bottom: 150px; }

#tools .resume_tools .media-body { 
	margin-bottom: 40px;
	margin-top: 90px;
}

#tools .resume_tools .media-object {
	background-color: #31BBA6;
	height: 250px;
	margin-bottom: 10px;
	width: 250px;
}

@media screen and (max-width: 330px){
	#tools .resume_tools .media-object {
		height: 240px;
		width: 240px;
	}
}

#tools .resume_tools .media-object img {
	margin-left: 0;
	margin-top: 5%;	
	width: 90%;
}

#tools .resume_tools #interfaces img {
	margin-left: 0;
	margin-top: 0;
	width: 95%;
}

#tools .resume_tools .media .pull-left { 
	margin-left: 4px;
	margin-right: 45px;
}

#tools .resume_tools .media .pull-right { 
	margin-left: 45px;
	margin-right: 6px;
}

#tools .resume_tools h3 { 
	color: #31BBA6;
	margin-bottom: 30px;
	text-align: left;
}

#tools .resume_tools p { 
	font-size: 0.8em;
	text-align: justify;
}

#tools .center_points .points_container {
	margin-left: 119px;
	text-align: left;    
}

#tools .first_img .points_container, #tools .media .center_points .points_container span,
#tools .media .img_container .points_container, #tools .media .img_container .media-object, #tools .resume_tools .media-body  {
	opacity: 0;
	transition: all 0.5s ease-in-out;
	
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-mz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 480px) {
	#tools .first_img {
		width: 100%;
		height: auto;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#tools .resume_tools {
		padding-left: 80px;
		padding-right: 80px;
	}

	#tools .media .center_points .points_container span:nth-last-child(-n+2) {
		display: none;
	}

	#tools .no_media .points_container span:nth-last-child(-n+4) {
		display: none;
	}
}

@media screen and (min-width: 550px) and (max-width: 991px) {
	#tools .resume_tools {
		padding-left: 10px;
		padding-right: 10px;
	}

	#tools .resume_tools .media-object {
		margin: 0 auto 10px !important;
	}

	#tools .media .img_container p {
		display: none;
	}

	#tools .resume_tools h3 { text-align: center; }

}

@media screen and (max-width: 991px) {
	#tools .resume_tools .media-body {
		margin-bottom: 0;
		margin-top: 30px;
	}

	#tools .center_points .points_container {
		display: none;
	}

	#tools .resume_tools .media .pull-left, #tools .resume_tools .media .pull-right { 
		margin-left: 0;
		margin-right: 0;
	}

	#tools .resume_tools .img_container { 
		float: none !important;		
	}
}

@media screen and (max-width: 549px) {
	#tools .resume_tools {
		padding-left: 0;
		padding-right: 0;
	}f

	#tools .resume_tools .img_container { 
		float: none !important;		
	}

	#tools .resume_tools .media-object {
		margin: 0 auto 10px !important;
	}
}

@media screen and (max-width: 767px) {
	#tools .resume_tools p { font-size: 1em; }

	#tools .resume_tools .points_container span {
		padding-bottom: 2px;
		padding-top: 2px;
	}
}


/*------------------------------------*\
	$PORTFOLIO
\*------------------------------------*/
#portfolio { background-color: #FFF; display: none; }

#portfolio .sub_title:after {
	width: 57%;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(#FFF), color-stop(50%, #F97E03));
	background: -moz-radial-gradient(#F97E03, #FFF);
	background: -o-radial-gradient(#F97E03, #FFF);
}

#portfolio p {
	font-weight: 700;
}

#portfolio .row { color: #FFF; }

#portfolio #ptf_showcase .carousel-control {
	background-color: white;
	width: 2%;
	opacity: 1
}

#portfolio #ptf_showcase .left {
	background-image: none;/*linear-gradient(to left, rgba(255, 255, 255, 0.5) 0px, transparent 100%);*/
	margin-left: -0.8%;
}

#portfolio #ptf_showcase .right {
	background-image: none;/*linear-gradient(to right, rgba(255, 255, 255, 0.5) 0px, transparent 100%);*/
}

#portfolio #ptf_showcase .carousel-control span {
	color: #50DAC4;
}
#portfolio #ptf_showcase .carousel-control span:hover {
	color: #20AAC4;
	font-size: 1.7em;
}

#portfolio #ptf_showcase .left span {
	left: 49%;
}

#portfolio #ptf_showcase .right span {
	right: 0;
}

@media screen and (min-width: 992px) and (max-width: 1005px) {
	#portfolio #ptf_showcase .left {
		margin-left: 0;
	}
	#portfolio #ptf_showcase .right {
		margin-right: 1.75%;
	}
	#portfolio #ptf_showcase .right span {
		right: -10%;
	}
}

@media screen and (max-width: 991px) and (min-width: 812px){
	#portfolio #ptf_showcase .right span{
		right: 10%;
	}
	#portfolio #ptf_showcase .right {
		margin-right: -0.8%;
	}
	#portfolio #ptf_showcase .left {
		margin-left: -3%;
	}
	#portfolio #ptf_showcase .carousel-control {
		width: 4%;
	}
}
@media screen and (max-width: 811px) and (min-width: 768px) {
	#portfolio #ptf_showcase .right span{
		right: 12%;
	}
	#portfolio #ptf_showcase .left {
		margin-left: -2%;
	}
	#portfolio #ptf_showcase .carousel-control {
		width: 3%;
	}
}

@media screen and (max-width: 767px) and (min-width: 680px) {
	#portfolio #ptf_showcase .left {
		margin-left: -1.5%;
	}
	#portfolio #ptf_showcase .left span{
		left: 10%;
	}
	#portfolio #ptf_showcase .carousel-control {
		width: 3%;
	}
}

@media screen and (max-width: 679px) and (min-width: 621px) {
	#portfolio #ptf_showcase .left span{
		left: 0;
	}
	#portfolio #ptf_showcase .carousel-control {
		width: 3%;
	}
}

@media screen and (min-width: 621px) {
	.ptf_page {
		display: none;
	}
}

@media screen and (max-width: 620px) {
	#portfolio #ptf_showcase .carousel-control {
		display: none;
	}
}

#portfolio #portfolio-gallery {
	list-style: none;	
	margin: 0 1.5% auto 1.5%;
	text-align: center;
}

#portfolio #portfolio-gallery li {
	color: #FFF;
	cursor: pointer;
	display: block;
	float: left;
	height: 12em;
	margin: 0.9% 1.5%;
	position: relative;
	text-transform: uppercase;
	width: 30%;
}

#portfolio #portfolio-gallery li .item-name {
	border: 2px solid #FFF;
	font-size: 1.3em;
	font-weight: 700;
	left: 25%;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	top: 35%;
	z-index: 10;
	width: 50%;
}


#portfolio #portfolio-gallery li:nth-child(1), #portfolio #portfolio-gallery li:nth-child(2), #portfolio #portfolio-gallery li:nth-child(6), #portfolio #portfolio-gallery li:nth-child(7) {
	height: 15em;
	width: 46.5%;
}

#portfolio #portfolio-gallery li:nth-child(1) .item-name, #portfolio #portfolio-gallery li:nth-child(2) .item-name, #portfolio #portfolio-gallery li:nth-child(6) .item-name, #portfolio #portfolio-gallery li:nth-child(7) .item-name {
	top: 38%;
	left: 28%;
	width: 44%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	#portfolio #portfolio-gallery li .item-name {
		left:15%;
		width: 70%;
		font-size: 1.1em;
	}
	#portfolio #portfolio-gallery li:nth-child(1) .item-name, #portfolio #portfolio-gallery li:nth-child(2) .item-name, #portfolio #portfolio-gallery li:nth-child(6) .item-name, #portfolio #portfolio-gallery li:nth-child(7) .item-name {
		left:15%;
		width: 70%;
		font-size: 1.1em;
	}
}

@media screen and (max-width: 767px) {
	#portfolio #portfolio-gallery li .item-name {
		left:10%;
		width: 80%;
		font-size: 0.8em;
	}
	#portfolio #portfolio-gallery li:nth-child(1) .item-name, #portfolio #portfolio-gallery li:nth-child(2) .item-name, #portfolio #portfolio-gallery li:nth-child(6) .item-name, #portfolio #portfolio-gallery li:nth-child(7) .item-name {
		left:10%;
		width: 80%;
		font-size: 0.8em;
	}
}

#portfolio #portfolio-gallery li .darker {
	opacity: 0.4;
	transition: opacity 0.2s linear;
	z-index: 1;

	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-mz-transition: opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
}

#portfolio #portfolio-gallery li:hover .darker { opacity: 0.2; }

#portfolio #portfolio-gallery li .item-img { 
	background-size: cover;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: .8;
	transition: opacity 300ms ease;

	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	-webkit-transition: opacity 300ms ease;
	-moz-transition: opacity 300ms ease;
	-o-transition: opacity 300ms ease;
	-ms-transition: opacity 300ms ease;
}

#portfolio #portfolio-gallery li p {
	bottom: 0;
	font-size: 0.65em;
	left: 0;
	margin: 0;
	padding: 8px 15px;
	position: absolute;
	right: 0;
	text-align: left;	
	z-index: 1;
}

#portfolio #portfolio-gallery li p span {
	background: #31BBA6;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	padding: 15px 15px 20px;
	position: absolute;
	width: 100%;
	z-index: -1;
}

@media screen and (max-width: 1005px) {
	#portfolio #portfolio-gallery li .item-name {
		top: 30% !important;
	}

	#portfolio-body .row p { margin-right: 0; }
}

@media screen and (max-width: 1005px) and (min-width: 621px) {
	#portfolio #portfolio-gallery li {
		height: 12em !important;
		width: 46% !important;
	}
}
@media screen and (max-width: 620px){
	#portfolio #portfolio-gallery li {
		height: 12em !important;
		width: 100% !important;
	}
}

#portfolio-info {
	background: #FFF;
	bottom: 0;
	color: #000;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0px;
	transition: clip 400ms ease, opacity 400ms ease;
	width: 100%;
	z-index: 10000;

	-o-transition: clip 400ms ease, opacity 400ms ease;
	-ms-transition: clip 400ms ease, opacity 400ms ease;
	-moz-transition: clip 400ms ease, opacity 400ms ease;
	-webkit-transition: clip 400ms ease, opacity 400ms ease;
}

#portfolio-info.hide-info {
	opacity: 0;
	z-index: -10000;
}

#portfolio-info .close {
	border: 1px solid #333;
	border-radius: 20%;
	cursor: pointer;
	font-size: 2em;
	padding: 0 5px;
	position: absolute;
	right: 1%;
	transition: border 0.4s linear;
	top: 1.7%;
	z-index: 1;

	-o-transition: border 0.4s linear;
	transition: border 0.4s linear;
	transition: border 0.4s linear;
	transition: border 0.4s linear;
}

/*#portfolio-info .close {
	cursor: pointer;
	padding: 0 5px;
	position: absolute;
	width: 4%;
	right: 2%;
	top: 2%;
	z-index: 1;
	content: url('/img/cerrar.png');
}*/

#portfolio-info .close:hover { border-color: #000; }
/*#portfolio-info .close:hover {
	content: url('/img/cerrar-hover.png');
}*/

#portfolio-body { margin: 30px 30px; }

#portfolio-body img { width: 100% }

#portfolio-body .row p {
	color: #000;
	font-size: 0.9em;
	margin-right: 20px;
	text-align: justify;
}

#portfolio-header { 
	background-color: #DDD;
	padding: 5px 50px 5px 100px;
	width: 100%;
}

@media screen and (max-width: 767px) {
	#portfolio-header { 
		padding: 5px 1em 5px 1em;
	}
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
	#portfolio-header { 
		padding: 5px 1em 5px 2.5em;
	}
}

#portfolio-header .row p, #portfolio-header .row h3, #portfolio-header .row li {
	color: #000;
	margin: 0;
	text-align: left;
	width: 100%;
}

#portfolio-header .row p { color: #999; }

#portfolio-header .row h3 { font-size: 1.3em; }

#portfolio-header ul {
	list-style: none;
}

#portfolio-header ul li {
	display: block;
}

#portfolio-header .row li {
	font-size: 0.7em;
	line-height: normal;
	padding: 0;
}

#portfolio #ptf_footer_load_graph {
	display: none;
}

#ptf_desc {
	color: black;
}

#ptf_website {
	text-decoration: none;
	float:left;
	font-size: 1.4em;
	color: black;
	display: block;
}

#ptf_website:hover {
	color: blue;
}

#ptf_work {
	display: block;
}

#portfolio-nav {
	background-color: #232;
}

#portfolio-nav-proj-prev {
	float:left;
	margin-left: 1em;
}

#portfolio-nav-proj-prev span, #portfolio-nav-proj-prev i,
#portfolio-nav-proj-next span, #portfolio-nav-proj-next i {
	margin-left: -0.8em;
}

#portfolio-nav-proj-next {
	float:right;
}

#portfolio-nav-proj-prev, #portfolio-nav-proj-next {
	color: black;
	cursor: pointer;
}

#portfolio-nav-proj-prev:hover, #portfolio-nav-proj-next:hover {
	color: #30BAA4;
}

#portfolio-nav-proj-prev p, #portfolio-nav-proj-next p {
	font-size: 1.8em;
	display: inline-block;
	margin-right: 0.5em;
}

#portfolio-nav-proj-prev span, #portfolio-nav-proj-next span {
	font-size: 2.5em;
	color: #30BAA4;
}

#portfolio .ptf_page li {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	background-color: white;
	font-size: 1.5em;
}

#portfolio .ptf_page a {
	text-decoration: none;
	color: #30BAA4;
}


#portfolio .ptf_page li span{
	font-size: 1.6em;
	margin-left: -0.8em;
}

/*------------------------------------*\
	$TEAM
\*------------------------------------*/
#team { 
	background-color: #232323;
	color: #FFF;
}

#team .sub_title:after { width: 23%; }

#team .row { 
	margin-bottom: 110px;
	margin-left: -40px;
	position: relative;
	top: 80px; 
}

#team .row .team_container {
	margin: -21px 66px;
}

#team .row .team_container:nth-child(4n+1) {
	margin-left: 281px;
}

#team .thumbnail {
	border: 3px solid #16C1A8;
	color: #FFF;
	height: 260px;
	overflow: hidden;
	margin-bottom: 0;
	width: 260px;

	-0-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;

	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transition-duration: 0.5s;
}

#team .thumbnail div {
	background-color: #16C1A8;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 40% 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1;

	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 480px) {
	#team .thumbnail{
		width: 200px;
		height: 200px;
	}
	#team .thumbnail img {
		top: -42%;
		left: -45%;
	} 	
}

#team .thumbnail:hover div {
	opacity: 1;
	visibility: visible;
	z-index: 20;

	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#team .thumbnail p {
	left: 10;
	position: relative;
	top: -5px;
	transition-duration: 0.0s;

	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
 
#team .thumbnail span {
	font-size: 1em;
	line-height: 17px;
	color: #EEFC0D;
}

#team .thumbnail .team_title { 
	font-size: 1.6em;
	margin-bottom: 10px;
	color: inherit;
}

#team .thumbnail img {
	left: -25%;
	max-width: none;
	position: relative;
	top: -23%;
	z-index: 10;

	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

@media screen and (max-width: 480px) {
	#team .thumbnail img {
		left:-44%;
		top: -41%;
	}
}

.flip {
  -o-backfaace-visibility: visible;
  -ms-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

@media screen and (min-width: 1021px) and (max-width: 1199px) {
	#team .row .team_container {
		margin: -35px 67px;
	}

	#team .row .team_container:nth-child(4n+1) {
		margin-left: 258px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1020px) {
	#team .row .team_container {
		margin: -36px 66px;
	}

	#team .row .team_container:nth-child(4n+1) {
		margin-left: 255px;
	}	
}

@media screen and (min-width: 992px) and (max-width: 999px) {
	#team {
		padding: 150px 15px 0;
	}

	#team .row .team_container {
		margin: -36px 66px 155px;
	}

	#team .row .team_container:nth-child(2n+1) {
		margin-left: 170px;	
	}
}

@media screen and (min-width: 910px) and (max-width: 991px) {
	#team .container {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	#team .row {
		margin-right: 0;
	}

	#team .row .team_container {
		margin: -36px 0 155px;
		width: 41%;
	}

	#team .row .team_container:nth-child(2n+1) {
		margin-left: 105px;	
	}

	#team .thumbnail {
		display: inline-block;
	}

}

@media screen and (max-width: 909px) {
	#team .row {
		margin-left: -15px;
	}

	#team .row .team_container {
		margin: 0 0 120px !important;
		padding: 0;
		width: 100%;
	}

	#team .thumbnail {
		display: inline-block;
	}

}





/*------------------------------------*\
	$CONTACT
\*------------------------------------*/
#contact .sub_title:after {
	width: 43%;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#181818), to(#4D4D4D), color-stop(50%, #F97E03));
	background: -moz-radial-gradient(#F97E03, #000);
	background: -o-radial-gradient(#F97E03, #000);
}

#contact .fa {
	text-align: center;
	width: 1.9em;
}

#contact .icon-gplus::before{
	padding-left: 6%;
}

#contact .info_container .fontello{
	position:relative;
	top: 1px;
	display: inline-block;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border: 2px solid #FFF;
	font-size: 1.7em;
	margin-right: 10px;
	padding-top: 0.25em;
}

#contact {
	background: url("../img/contactenos.jpg") no-repeat center center;
	background-size: cover;
	color: #F2F2F2;

	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;	
}

#contact .form_container { 
	padding-left: 50px;
	padding-right: 50px;
	display: none;
}

#contact form {
	background-color: rgba(35, 31, 32, 0.8);
	margin: 0 15px;
	opacity: 0.7;
	padding: 30px 30px 15px;
}

#contact .form-group div {
	padding-left: 5px;
	padding-right: 5px;
}

#contact form input {
	height: 40px;
}

#contact form input, #contact form textarea {
	background-color: #E6E7E8;
	border-radius: 3px;
	color: #404041;

	-o-border-radius: 3px;
	-mz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#contact form input[placeholder]:focus::-webkit-input-placeholder,
#contact form textarea[placeholder]:focus::-webkit-input-placeholder{
	color: transparent !important;
}

#contact form input[placeholder]::-webkit-input-placeholder,
#contact form textarea[placeholder]::-webkit-input-placeholder {
	opacity: 1;
	color: #404041 !important;
}

#contact form input[placeholder]:focus::-moz-placeholder,
#contact form textarea[placeholder]:focus::-moz-placeholder{
	color: transparent !important;
}

#contact form input[placeholder]::-moz-placeholder,
#contact form textarea[placeholder]::-moz-placeholder {
	opacity: 1;
	color: #404041 !important;
}

/* En el caso de :-moz- es para versiones anteriores (pre-19)*/
#contact form input[placeholder]:focus:-moz-placeholder,
#contact form textarea[placeholder]:focus:-moz-placeholder{
	color: transparent !important;
}

#contact form input[placeholder]:-moz-placeholder,
#contact form textarea[placeholder]:-moz-placeholder {
	opacity: 1;
	color: #404041 !important;
}

#contact form input[placeholder]:focus:-ms-input-placeholder,
#contact form textarea[placeholder]:focus:-ms-input-placeholder{
	color: transparent !important;
}

#contact form input[placeholder]:-ms-input-placeholder,
#contact form textarea[placeholder]:-ms-input-placeholder {
	opacity: 1;
	color: #404041 !important;
}

#contact form textarea { resize: vertical; }

#contact form button {
	background: none;
	border: 3px solid #FFF;
	border-radius: 0;
	color: #FFF;
	font-size: 0.9em;
	margin-top: 10px;
	padding: 0 30px;

	-o-border-radius: 0;
	-mz-border-radius: 0;
	-webkit-border-radius: 0;
}

#contact form button:hover { border-color: #30BAA4; }

input::-webkit-input-placeholder, input::-webkit-textarea-placeholder { 
	color: #333 !important; 
	opacity: 1; 
}
 
 input::-moz-placeholder { 
 	color: #333 !important; 
 	opacity: 1; 
}
 
 input:-moz-placeholder { 
 	color: #333 !important; 
 	opacity: 1;  
}
 
 input:-ms-input-placeholder { 
 	color: #333 !important; 
 	opacity: 1;  
}

#contact .info_container {
	font-size: 0.8em;
	text-align: justify;
}

#contact .info_container .fa {
	border: 2px solid #FFF;
	font-size: 1.7em;
	margin-right: 10px;
	padding: 10px;
}

#contact .info_container .info_value { 
	margin-left: 15px;
	padding: 16px 0;
}

@media screen and (min-width: 750px) and (max-width: 800px) {
	#contact .info_container .info_value { 
		margin-right: 2em;
	}	
}

#contact .info_container a {
	color: #FFF;
}

#contact .info_container a:hover, #contact .info_container a:hover .glyphicon, #contact .info_container a:hover .fontello {
	border-color: #30BAA4;
	color: #30BAA4;
	text-decoration: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#contact .row>div {
		padding: 0 20%;
		width: 100%;
	}

	#contact .form_container { margin-bottom: 40px; }
}

@media screen and (max-width: 991px) {
	#contact .row>div {
		width: 100%;
	}

	#contact .form_container { margin-bottom: 40px; }

	#contact .info_container>div {
		width: 100%;
	}

	#contact .info_container div div:first-child {
		float: left;
	}
}

@media screen and (max-width: 767px) {
	#contact .row>div {
		font-size: 1em;
	}

	#contact .form_container {
		padding-left: 15px;
		padding-right: 15px;
	}

	#contact .form_container .form-group:first-child div:first-child {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 451px) {
	#contact .row>div {
		font-size: 0.75em;
	}
}



/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
footer {
	background-color: #000;
	color: #FFF;
	padding-bottom: 10px;
	padding-top: 25px;
	text-align: center;
}

footer p {
	line-height: 15px;
	margin: 0;
	padding: 0;
}

footer a.return_to_title {
	text-decoration: none;
	margin-right: 1em;
	color: #FFF;
	display: block;
}
footer a.return_to_title:hover {
	color: #30BAA4;
}

@media screen and (max-width: 1024px) {
	footer a.return_to_title {
		color: #30BAA4;
	}
}

@media screen and (max-width: 480px) {
	footer p {
		margin-left: 0.4em;
		margin-right: 0.4em;
		font-size:0.8em;
		display: block;
	}
}




/*------------------------------------------*|
		$ERRORS
********************************************/

label.error {
	font-size: 11px !important;
	color: rgb(219, 94, 94) !important;
}

#form-messages {
	font-size: 16px;
	padding: 4px 4px 4px 4px;
	font-weight: 700;
	color: rgb(255, 140, 0);
}

.form-success {
	/* TODO: add some styles */
}

.form-error {
	/* TODO: add some styles */

}

/*------------------------------------------*|
		TEXT-FORMATTING
********************************************/

.lead h2, .lead h1, .lead h3 {
	font-weight: 900;
}