body { overflow-x: hidden; }

.navbar-collapse.in { overflow: hidden; }

.main {
	padding: 150px 15px;
	position: relative;
	text-align: center;
}

.main .container { position: relative; }

.main .sub_title { 
	font-size: 3em;
	margin-bottom: 60px;
}

.main .sub_title:after {	
	background: #F97E03;
	height: 2px;
	content:'';
	display: block;
	margin: 10px auto 0;
	
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#232323), to(#232323), color-stop(50%, #F97E03));
}

.main .darker {
	background: #000;
	height: 100%;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
}






/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header { 
	background-color: #171717; 
	margin-bottom: 0 !important;
}

header a, header a:visited {  color: #FFF;  }






/*------------------------------------*\
    $MENU
\*------------------------------------*/
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #171717;
	color: #F69136;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	display: none;
}

@media screen and (min-width: 768px) {
	.navbar-nav {
		display: inline-block;
		float: none;
		margin: 0;		
	}
}





/*------------------------------------*\
    $FRONT-PAGE
\*------------------------------------*/

#front_page {
	background: url("../img/italy.png") no-repeat center center;
	background-size: cover;
	color: #F2F2F2;
	padding: 30px 15px;

	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;	
}

#front_page .main_title {
	font-size: 10em;
	margin: 0;
	padding: 0;
}

#front_page h2 { 
	color: #F69136;
	display: inline;
	font-size: 3em;
	margin: 0;
	padding: 0;
	position: relative;
	right: -200px;
	top: -45px;
}

#front_page .info_list { padding: 0 100px; }

#front_page .row {
	border: 3px solid #FFF;
	padding: 5px 0;
}

@media (min-width: 768px) {
	#front_page {
		padding-top: 180px;
		padding-bottom: 120px;
	}
}

@media (max-width: 767px) {
	#front_page h2 {		
		right: -150px;
		top: -30px;
	}
}

@media (max-width: 498px) {
	#front_page .main_title { font-size: 7em; }

	#front_page h2 {		
		font-size: 2em;
		right: -110px;
		top: -20px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) { 
	#front_page .row div { font-size: 0.7em; }
}





/*------------------------------------*\
    $QUOTE
\*------------------------------------*/
#quote h2 {
	font-size: 3em;
	margin-bottom: 60px;
}





/*------------------------------------*\
	$WHO-WE-ARE
\*------------------------------------*/
#who_we_are {
	background-color: #232323;
	color: #FFF;
}

#who_we_are .sub_title:after { width: 25%; }





/*------------------------------------*\
	$WHAT-WE-DO
\*------------------------------------*/
#what_we_do {
	background: url("../img/what_we_do.jpg") no-repeat center center;
	background-size: cover;
	color: #FFF;
	padding-bottom: 200px;

	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#what_we_do .sub_title:after { width: 25%; }

#what_we_do .darker { opacity: 0.4; }

#what_we_do .row { position: relative; }

#what_we_do .row .first_group > div, #what_we_do .row .second_group > div { 
	margin-bottom: 20px; 
	position: initial;
}

#what_we_do .info {
	left: 7%;
	margin-top: 30px;
	opacity: 0.8;
	position: absolute;
	text-align: justify;
	width: 85%
}

#what_we_do .info > .arrow {
  	border-color: transparent;
	border-bottom-color: #17DDC5;
	border-bottom-style: solid;
  	border-width: 0.53em;
	border-bottom-width: 0.60em;
	border-style: dashed;
	display: inline-block;
	font-size: 30px;
	height: 0;
	line-height: 0;
	opacity: 1 !important;
	position: absolute;
	top: -30px;
	vertical-align: middle;
	width: 0;

	display: -moz-inline-box;
}

#what_we_do .row .first_group > div:nth-child(1) .arrow { left: 5%; }
#what_we_do .row .first_group > div:nth-child(2) .arrow { left: 34%; }
#what_we_do .row .second_group > div:nth-child(1) .arrow { right: 33%; }
#what_we_do .row .second_group > div:nth-child(2) .arrow { right: 4%; }

#what_we_do .info p {
	background-color: #17DDC5;
	padding: 30px;
}

#what_we_do .row .title_info span { 
	border: 3px solid #FFF;
	font-size: 2em;
	padding: 20px;
}

#what_we_do .row .title_info p { margin-top: 20px; }

#what_we_do .row .title_info p span {
	font-size: 1em;
	padding: 5px 10px;
	margin: 15px 15px 0;
}

@media screen and (min-width: 992px) and (max-width: 1199px) { 
	#what_we_do .row .title_info p span { font-size: 0.7em; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#what_we_do { padding-bottom: 30px; }

	#what_we_do .first_group, #what_we_do .second_group { 
		height: 410px; 
		margin-bottom: 60px;
	}

	#what_we_do .info {
		left: 16%;
		width: 68%;
	}

	#what_we_do .row .first_group > div:nth-child(1) .arrow { left: 10%; }
	#what_we_do .row .first_group > div:nth-child(2) .arrow { left: 83%; }
	#what_we_do .row .second_group > div:nth-child(1) .arrow { right: 85%; }
	#what_we_do .row .second_group > div:nth-child(2) .arrow { right: 11%; }
}

@media screen and (max-width: 767px) {
	#what_we_do { padding-bottom: 30px; }

	#what_we_do .info {
		left: 0;
		width: 100%;
		position: relative;
	}

	#what_we_do .row .arrow { 
		left: 0 !important;
		position: relative;
		top: 0;
	}
}



/*------------------------------------*\
	$HOW-WE-WORK
\*------------------------------------*/
#how_we_work .row div {
	padding: 0 10px;
	margin: 0 45px 20px;
}

#how_we_work h3 { color: #1A1A1A; }

#how_we_work p { 
	font-size: 0.9em;
	font-weight: bold;
	text-align: justify;
}

@media screen and (min-width: 992px) and (max-width: 1199px) { 
	#how_we_work .row div {
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media screen and (max-width: 991px) { 
	#how_we_work .row div {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 767px) {
	#how_we_work p { font-size: 1em; }	
}





/*------------------------------------*\
	$TOOLS
\*------------------------------------*/
#tools { 
	background-color: #232323;
	color: #FFF;
	padding: 150px 15px 0;
}

#tools .sub_title:after { width: 50%; }

#tools .resume_tools { 
	padding-left: 160px;
	padding-right: 160px;
}

#tools .resume_tools .media-body { 
	margin-bottom: 40px;
	margin-top: 40px;
}

#tools .resume_tools .media-object {
	background-color: #31BBA6;
	height: 250px;
	width: 250px;
}

#tools .resume_tools .media:nth-child(even) .media-object { margin-right: 45px; }

#tools .resume_tools .media:nth-child(odd) .media-object { margin-left: 45px; }

#tools .resume_tools .first_img, #tools .resume_tools .media { margin-bottom: 100px; }

#tools .resume_tools h3 { 
	color: #31BBA6;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: left;
}

#tools .resume_tools p { 
	font-size: 0.8em;
	text-align: justify;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#tools .resume_tools {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media screen and (min-width: 550px) and (max-width: 991px) {
	#tools .resume_tools {
		padding-left: 70px;
		padding-right: 70px;
	}

	#tools .resume_tools .media-object { 
		float: none !important;
		margin: 0 auto 35px !important;
	}

	#tools .resume_tools h3 { text-align: center; }
}

@media screen and (max-width: 549px) {
	#tools .resume_tools {
		padding-left: 0;
		padding-right: 0;
	}

	#tools .resume_tools .media-object { 
		float: none !important;
		margin: 0 auto 35px !important;
	}
}

@media screen and (max-width: 767px) {
	#tools .resume_tools p { font-size: 1em; }	
}





/*------------------------------------*\
	$PORTFOLIO
\*------------------------------------*/
#portfolio h2 {
	font-size: 3em;
	margin-bottom: 60px;
}

#portfolio .row { color: #FFF; }

#portfolio .row>div { 
	background-color: #A2A2A2; 
	height: 280px;
	margin: 10px 15px;
}

#portfolio .row .project_body {
	position: absolute;
	height: 99%;
	padding: 25%;
	width: 99%;
	z-index: 1;
}

#portfolio .project_body h3 {
	border: 3px solid #FFF;
	color: #FFF;
	display: inline-block;
	padding: 5px;
}

#portfolio .project_footer {
	background: #31BBA6;
	bottom: 0;
	left: 0;
	opacity: 0.8;
	position: absolute;
	width: 100%;
}

#portfolio .project_footer h5 { padding-left: 20px; }





/*------------------------------------*\
	$TEAM
\*------------------------------------*/
#team { 
	background-color: #232323;
	color: #FFF;
	padding-top: 100px;
}

#team .sub_title:after { width: 13%; }

#team .row { 
	margin-bottom: 110px;
	margin-left: -40px;
	position: relative;
	top: 80px; 
}

#team .row .team_container {
	margin: -21px 66px;
}

#team .row .team_container:nth-child(4n+1) {
	margin-left: 281px;
}

#team .thumbnail {
	border: 3px solid #16C1A8;
	border-radius: 0;
	color: #FFF;
	height: 260px;
	overflow: hidden;
	margin-bottom: 0;
	transform: rotate(45deg);
	width: 260px;

	-0-border-radius: 0;
	-mz-border-radius: 0;
	-webkit-border-radius: 0;

	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#team .thumbnail div {
	background-color: #16C1A8;
	border: none;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 40% 0;
	position: absolute;
	top: 0;
	transition: visibility 0s linear 0.2s, opacity 0.2s linear;
	visibility: hidden;
	width: 100%;
	z-index: 1;

	-mz-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
	-webkit-transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

#team .thumbnail:hover div { 
	opacity: 1;
	transition-delay: 0s;
	visibility: visible;

	-mz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
}

#team .thumbnail p {
	left: 10;
	position: relative;
	top: -5px;
	transform: rotate(-45deg);

	-mz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
 
#team .thumbnail span {
	display: block;
	font-size: 0.6em;
	line-height: 17px;
}

#team .thumbnail .team_title { 
	font-size: 1.6em;
	margin-bottom: 10px;
}

#team .thumbnail img {
	left: -24%;
	max-width: none;
	position: relative;
	top: -23%;
	transform: rotate(-45deg);

	-mz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

@media screen and (min-width: 1021px) and (max-width: 1199px) {
	#team .row .team_container {
		margin: -35px 67px;
	}

	#team .row .team_container:nth-child(4n+1) {
		margin-left: 258px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1020px) {
	#team .row .team_container {
		margin: -36px 66px;
	}

	#team .row .team_container:nth-child(4n+1) {
		margin-left: 255px;
	}	
}

@media screen and (min-width: 992px) and (max-width: 999px) {
	#team {
		padding: 150px 15px 0;
	}

	#team .row .team_container {
		margin: -36px 66px 155px;
	}

	#team .row .team_container:nth-child(2n+1) {
		margin-left: 170px;	
	}
}

@media screen and (min-width: 910px) and (max-width: 991px) {
	#team .container {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	#team .row {
		margin-right: 0;
	}

	#team .row .team_container {
		margin: -36px 0 155px;
		width: 41%;
	}

	#team .row .team_container:nth-child(2n+1) {
		margin-left: 105px;	
	}

	#team .thumbnail {
		display: inline-block;
	}

}

@media screen and (max-width: 909px) {
	#team .row {
		margin-left: -15px;
	}

	#team .row .team_container {
		margin: 0 0 120px !important;
		padding: 0;
		width: 100%;
	}

	#team .thumbnail {
		display: inline-block;
	}

}





/*------------------------------------*\
	$CONTACT
\*------------------------------------*/
#contact {
	background: url("../img/contact.png") no-repeat center center;
	background-size: cover;
	color: #F2F2F2;
	padding: 30px 15px;

	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;	
}

#contact h2 { 
	font-size: 3em;
	margin-bottom: 60px;
}

#contact .form_container { 
	padding-left: 50px;
	padding-right: 50px;
}

#contact form {
	background-color: rgba(35, 31, 32, 0.8);
	margin: 0 15px;
	opacity: 0.7;
	padding: 30px 30px 15px;
}

#contact .form-group div {
	padding-left: 5px;
	padding-right: 5px;
}

#contact form input {
	height: 40px;
}

#contact form input, #contact form textarea {
	background-color: #E6E7E8;
	border-radius: 3px;
	color: #404041;

	-o-border-radius: 3px;
	-mz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#contact form textarea { resize: vertical; }

#contact form button {
	background: none;
	border: 3px solid #FFF;
	border-radius: 0;
	color: #FFF;
	font-size: 0.9em;
	margin-top: 10px;
	padding: 0 30px;

	-o-border-radius: 0;
	-mz-border-radius: 0;
	-webkit-border-radius: 0;
}

#contact form button:hover { border-color: #30BAA4; }

input::-webkit-input-placeholder { color: #404041; }
input::-moz-placeholder { color: #404041; }
input:-moz-placeholder { color: #404041; }
input:-ms-input-placeholder { color: #404041; }

#contact .info_container {
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
}

#contact .info_container .glyphicon {
	border: 2px solid #FFF;
	font-size: 1.7em;
	margin-right: 10px;
	padding: 10px;
}

#contact .info_container .info_value { 
	margin-left: 15px;
	padding: 16px 0;
}

#contact .info_container>div:nth-child(2) .info_value { padding: 7px 0; }

#contact .info_container a {
	color: #FFF;
}

#contact .info_container a:hover, #contact .info_container a:hover .glyphicon {
	border-color: #30BAA4;
	color: #30BAA4;
	text-decoration: none;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#contact .row>div {
		padding: 0 20%;
		width: 100%;
	}

	#contact .form_container { margin-bottom: 40px; }
}

@media screen and (max-width: 991px) {
	#contact .row>div {
		width: 100%;
	}

	#contact .form_container { margin-bottom: 40px; }

	#contact .info_container>div {
		width: 100%;
	}

	#contact .info_container div div:first-child {
		float: left;
	}

	#contact .info_container>div:nth-child(2) .info_value {
		padding: 20px 0;
	}
}

@media screen and (max-width: 767px) {
	#contact .row>div {
		font-size: 1em;
	}

	#contact .form_container {
		padding-left: 15px;
		padding-right: 15px;
	}

	#contact .form_container .form-group:first-child div:first-child {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 671px) {
	#contact .info_container>div:nth-child(2) .info_value {
		padding: 8px 0;
	}
}

@media screen and (max-width: 451px) {
	#contact .row>div {
		font-size: 0.8em;
	}
}





/*------------------------------------*\
	$FOOTER
\*------------------------------------*/
footer {
	background-color: #000;
	color: #FFF;
	padding-bottom: 10px;
	padding-top: 25px;
	text-align: center;
}

footer p {
	line-height: 15px;
	margin: 0;
	padding: 0;
}