---
layout: default
title: Kakao Media Web Site
---

<div id="front_page" class="main">
	<div class="darker"></div>
	<div class="container">
		<div class="lead">
			<h1 class="main_title">Kakao</h1>
			<h2 class="sub_title">media</h2>
		</div>
		<div class="lead">
			<ul class="nav nav-pills">
				<li>Startup Consulting</li>
				<li>Product Design</li>
				<li>User Interface Design</li>
				<li>Web Development</li>
			</ul>
		</div>
	</div>	
</div>

<div id="quote" class="main">
	{% include quote.html %}
</div>

<div id="who_we_are" class="main">
	{% include who_we_are.html %}
</div>

<div id="what_we_do" class="main">
	{% include what_we_do.html %}
</div>

<div id="tools">
	{% include tools.html %}
</div>

<div id="portfolio">
	{% include portfolio.html %}
</div>

<div id="team">
	{% include team.html %}
</id>

<div id="contact">
	{% include contact.html %}
</div>

<div id="footer">
	{% include footer.html %}
</div>
          
