---
layout: en-default
title: Kakao Media Web Site
---

<header>
  <div id="front_page" class="main">
    {% include front_page.html %}
  </div>
</header>

<div class="navbar navbar-static-top">
	{% include navigation.html %}
</div>

<div id="quote" class="main">
	{% include quote.html %}
</div>

<div id="what_we_do" class="main">
	{% include what_we_do.html %}
</div>

<div id="tools" class="main">
	{% include tools.html %}
</div>

<div id="portfolio" class="main">
	{% include portfolio.html %}
</div>

<div id="contact" class="main">
	{% include contact.html %}
</div>