---
layout: default
title: Kakao Media Web Site
---

<div id="front_page">
  <h1>Building the Awesome!</h1>
</div>

<div id="quote">
	{% include quote.html %}
</div>

<div id="who_we_are">
	{% include who_we_are.html %}
</div>

<div id="what_we_do">
	{% include what_we_do.html %}
</div>

<div id="tools">
	{% include tools.html %}
</div>

<div id="portfolio">
	{% include portfolio.html %}
</div>

<div id="team">
	{% include team.html %}
</id>

<div id="contact">
	{% include contact.html %}
</div>

<div id="footer">
	{% include footer.html %}
</div>
          
