<div class="darker"></div>
<div class="container">
	<div class="lead">
		<h1 class="main_title"><img src="../img/kakao-logo.png" /></h1>
	</div>
	<div class="lead info_list">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">Startup Consulting</div>
			<div class="col-md-3 col-sm-6 col-xs-12">Diseño de Productos</div>
			<div class="col-md-3 col-sm-6 col-xs-12">Diseño de Intefaces de Usuario</div>
			<div class="col-md-3 col-sm-6 col-xs-12">Desarrollo Web</div>
		</div>
	</div>
</div>