`<div class="darker"></div>
<div class="container">
	<div class="lead">
		<h1 class="main_title"><img src="../img/kakao-logo.png" alt="Bienvenido al sitio web de kakao media" width="650px" height="317px"/></h1>
	</div>
	<div class="lead info_list">
		<div class='col-md-8 col-md-offset-2'>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">Consultoría Web</div>
				<div class="col-md-3 col-sm-6 col-xs-12">Diseño UX</div>
				<div class="col-md-3 col-sm-6 col-xs-12">Comercio Electrónico</div>
				<div class="col-md-3 col-sm-6 col-xs-12">Desarrollo Web</div>
			</div>
		</div>
	</div>
</div>