<div class="container">
	<div class="lead">
		<h2 class="sub_title">CÓMO TRABAJAMOS</h2>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Definimos el problema</h3>
			<p>
				Creemos que las grandes empresas  resuelven problemas importantes. Es por ello que en primer lugar, debemos entender claramente y comunicar cuál es el problema que queremos resolver. Esta será la base y luz guía de cualquier producto que construyamos juntos.
			</p>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Validamos quién es el usuario final</h3>
			<p>
				La razón de este proceso es el usuario final. ¿A quién le estamos resolviendo el problema? ¿Cómo podemos validar nuestro usuario? A través de nuestro proyecto siempre vamos a volver a ellos y repetidamente preguntarnos si lo que estamos realizando realmente le da solución a sus problemas.
			</p>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Diseñamos la Solución</h3>
			<p>
				Trabajamos con usted para diseñar el  Producto Mínimo Viable que puede validar de forma rápida y rentable su modelo de negocio. Aquí diseñamos los mecanismos que comprueben nuestras hipótesis y nos permitan enfoque de aprendizaje basado en datos. Las expectativas claras son esenciales para validar la solución.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Hacemos que suceda
			</h3>
			<p>
				Construimos prototipos que sean ágiles, adaptables y escalables. Nuestro proceso integra un alto compromiso con los usuarios finales. Usando Metodología Ágil de Desarrollo nuestro objetivo es conseguir que el prototipo desarrollado sea probado usuarios-prueba lo más rápido posible. Nuestro meta es comenzar a aprender tanto como sea posible lo más pronto posible.
			</p>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Lanzemos y Aprendamos</h3>
			<p>
				Con un prototipo de trabajo que podemos poner en las manos del usuario final comienza el aprendizaje. Nos aseguramos de que estamos comprendiendo cómo los usuarios están reaccionando y utilizando el producto. El objetivo es recoger información y priorizar las nuevas exigencias. Debemos estar constantemente evolucionando para llegar a un ajuste del mercado de productos.
			</p>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<h3>Iterar y mejorar </h3>
			<p>
				Con el fin de tener un modelo de negocio sólido que cree y también capture valor no es fácil, pero nuestra estrategia es simple. Después del lanzamiento, escuchamos, aprendemos y hacemos pequeñas mejoras a la vez. Le ayudamos a aprender constantemente y deleitar a sus clientes.
			</p>
		</div>
	</div>
</div>