<div class="container">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="#front_page" class="navbar-brand logo-kakao"><img src="/img/kakao-logo-pqe.png" alt="{{ site.name }}" width="87px" height="43px"></a>
  </div>
  <nav class="navbar-scroll collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">English</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Sobre Nosotros
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuEs">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/es/acerca_de.html#who_we_are">Quiénes somos</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/es/acerca_de.html#how_we_work">Cómo trabajamos</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/es/acerca_de.html#team">Nuestro Equipo</a></li>
        </ul>
      </li>
      <li><a href="http://blog.kakaomedia.com" target="_blank">Nuestro blog</a></li>
      <li><a href="#what_we_do">Qué hacemos</a></li>
      <li><a href="#tools">Herramientas</a></li>
      <li><a href="#portfolio">Nuestro trabajo</a></li>
      <li><a href="#contact">Contáctanos</a></li>
    </ul>
  </nav>
</div>
