<div class="container">
	<div class="lead">
		<h2 class="sub_title">EQUIPO</h2>
	</div>

	<div class="lead">
		<div class="row">
			{% for member in site.data.es-team %}
				<div class="team_container col-xs-6 col-md-3">
					<a class="thumbnail">
						<div class="flip hide-back">
							<p>
								<span class="team_title">{{ member.name }}</span><br />
								<span>{{ member.job }}</span>
								<!-- <span>{{ member.phone }}</span>
								<span>{{ member.email }}</span> -->
							</p>
						</div>
						<img src="img/{{ member.picture }}" class="flip" alt="un miembro del equipo" width="370px" height="370px">
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>