<div class="container">
	<div class="lead">
		<h2 class="sub_title">NUESTRAS HERRAMIENTAS</h2>
	</div>
	<div class="lead resume_tools">
		<div class="first_img">
			<img src="/img/tools.jpg" width="274px" height="265px" />
			<div class="point_guide">
				{% for i in (1..8) %} <p class="points_container"><span class="img-circle"></span></p> {% endfor %}
			</div>
		</div>
		
		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..15) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
			<div class="pull-left img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>

				<div id="interfaces" class="img-circle media-object"><img src="/img/tools_interfaces.jpg" class="img-circle"/></div>

				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">Elaboramos una hermosa experiencia de usuario </h3>
		    	<p>
		    		Nuestro diseño se centra en el usuario. A través de un equilibrio entre lo lógico y lo emocional, ofrecemos una experiencia que pretende orientar a la perfección a los usuarios a través de nuestra plataforma, y ​​en ultima instancia deleitarlos.
		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..29) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
	  		<div class="pull-right img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div class="img-circle media-object"><img src="/img/tools_backend.jpg" class="img-circle"/></div>
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">Con un Backend funcional y eficiente</h3>
		    	<p>
		    		Nuestra filosofía de desarrollo es: hacer que funcione, bien y rápido. Utilizamos herramientas de desarrollo que nos permiten crear productos web ágiles y escalables en un corto tiempo. Estamos orgullosos de nosotros mismos en el código bien escrito, la simplicidad y eficiencia del mismo. Nos apasionan las tecnologías que utilizamos y estamos constantemente mejorando nuestros conocimientos.
		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..29) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
			<div class="pull-left img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div class="img-circle media-object"><img src="/img/tools_cloud.jpg" class="img-circle" /></div>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">Nuestras aplicaciones están hechas para vivir en la nube.</h3>
		    	<p>
		    		Nuestras aplicaciones están hechas para vivir en la nube. Creemos que la accesibilidad, la centralización, la seguridad y la escalabilidad que ofrece son bases fundamentales para un producto web exitoso. Trabajamos arduamente para ofrecerle las herramientas adecuadas para hacer crecer su negocio.
		    	</p>
		  	</div>
		</div>
	</div>
</div>