<div class="container">
	<div class="lead">
		<h2 class="sub_title">TOOLS WE LIKE TO WORK</h2>
	</div>
	<div class="lead resume_tools">
		<div class="first_img">
			<img src="../img/tools.jpg" width="274px" height="265px" />
			<div class="point_guide">
				{% for i in (1..8) %} <p class="points_container"><span class="img-circle"></span></p> {% endfor %}
			</div>
		</div>
		
		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..15) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
			<div class="pull-left img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div id="interfaces" class="img-circle media-object"><img src="img/tools_interfaces.jpg" class="img-circle" width="300px" height="300px" /></div>
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">We make beatiful interfaces</h3>
		    	<p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		    		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		    		dolor in reprehenderit in voluptate velit 
		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..29) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
	  		<div class="pull-right img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div class="img-circle media-object"><img src="../img/tools_backend.jpg" class="img-circle" width="300px" height="300px" /></div>
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">with functional and efficient backend</h3>
		    	<p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		    		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		    		dolor in reprehenderit in voluptate velit 
		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..29) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
			<div class="pull-left img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div class="img-circle media-object"><img src="../img/tools_cloud.jpg" class="img-circle" width="300px" height="300px" /></div>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">Living in a robust cloud</h3>
		    	<p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		    		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		    		dolor in reprehenderit in voluptate velit 
		    	</p>
		  	</div>
		</div>
	</div>
</div>