<div class="darker"></div>
<div class="container">
	<div class="lead">
		<h2 class="sub_title">¿QUÉ HACEMOS?</h2>
	</div>
	<div id="second-lead" class="lead">
		<div class="row">
			<div class="first_group">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="1">
						<span class="icon-rocket fontello"></span>
						<p><span>Consultoría para emprendedores</span></p>
					</div>
					<div class="info">
						<p>
							Las grandes empresas tienen como objetivo resolver problemas importantes . Nuestra meta es proporcionar a los empresarios y a sus equipos un conjunto de herramientas junto a un marco de acción para guiarlos a través del proceso de desarrollo de productos. Les ayudamos a desarrollar un plan de producto que le permitirá iterar hacia una forma sostenible de productos en el mercado. Nuestro equipo apalanca a los nuevos emprendedores y metodologías de detección de clientes con el fin de ayudarle a alcanzar sus metas de la manera más rápida, eficiente y rentable posible. Creemos en la simplicidad, deleitando a los usuarios finales, la mejora continua, y probar cosas nuevas. Póngase en contacto con nosotros y evaluaremos la manera de trabajar juntos.

						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="2">
						<span class="icon-brush fontello"></span>
						<p><span>Diseño de Experiencia de Usuario</span></p>
					</div>
					<div class="info">
						<p>
							Nuestros diseños tienen como objetivo deleitar a los usuarios finales, centrándose en la creación de una experiencia intuitiva que simplemente funciona. El equipo de Kakao UX Design se concentra en cada detalle de la experiencia del usuario desde el primer encuentro con el producto hasta  convertirse en un usuario avanzado. Diseñamos nuestros productos para realizar su trabajo de manera correcta y eficiente. El objetivo es diseñar plataformas para aprender y mejorar. Diseñamos productos que son sorprendentemente simples y funcionales, y creemos que eso los hace increíbles.
						</p>
					</div>
				</div>
			</div>
			<div class="second_group">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="3">
						<span class="icon-basket fontello"></span>
						<p><span>Comercio Electrónico</span></p>
					</div>
					<div class="info">
						<p>
							Nuestra meta es llevar su negocio al próximo nivel. Podemos ayudarle a crear un catálogo de sus productos y servicios, e incluso mejor, podemos ayudarle a vender directamente en la web. Con los beneficios de una tienda en línea que pueden ayudarle a aumentar en gran medida el mercado meta de sus productos o servicios, lo que lleva a más ventas, con más eficacia.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="4">
						<span class="icon-keyboard fontello"></span>
						<p><span>Desarrollo Web</span></p>
					</div>
					<div class="info">
						<p>
							Desarrollamos aplicaciones web altamente personalizadas. Construimos utilizando metodologías ágiles para garantizar la mejora continua de su producto en todo el ciclo de vida de desarrollo. Construimos productos web que puedan escalar y evolucionar utilizando las últimas tecnologías.Realizamos pruebas exhaustivas para aseguramos  ante todo que el producto funciona para el usuario.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div  class="row">
			<div id="descr-row" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
			</div>
		</div>
	</div>
</div>
