<div class="darker"></div>
<div class="container">
	<div class="lead">
		<h2 class="sub_title">QUE HACEMOS</h2>
	</div>
	<div id="second-lead" class="lead">
		<div class="row">
			<div class="first_group">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="1">
						<span class="icon-rocket fontello"></span>
						<p><span>Startup Consulting</span></p>
					</div>
					<div class="info">
						<p>
							PARRAFO # 1 FILOSOFIA
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="2">
						<span class="icon-brush fontello"></span>
						<p><span>User Experience Design</span></p>
					</div>
					<dv class="info">
						<p>
							PARRAFO # 2 PRUEBA
						</p>
					</dv>
				</div>
			</div>
			<div class="second_group">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="3">
						<span class="icon-basket fontello"></span>
						<p><span>E-Commerce</span></p>
					</div>
					<dv class="info">
						<p>
							LECTURA DE PRUEBA #3 LALALALALALA
						</p>
					</dv>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="4">
						<span class="icon-keyboard fontello"></span>
						<p><span>Desarrollo Web</span></p>
					</div>
					<dv class="info">
						<p>
							SOY EL CUARTO ESTO ES CUESTION DE LALALALALA
						</p>
					</dv>
				</div>
			</div>
		</div>
		<div  class="row">
			<div id="descr-row" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
			</div>
		</div>
	</div>
</div>
