<div class="container">
	<div class="lead">		
		<h2 class="sub_title">¿Quiénes somos?</h2>
	</div>
	<p class="lead">Somos un equipo de emprendedores, diseñadores, ingenieros y programadores que trabajan juntos para crear  medios digitales, funcionales y atractivos que resuelvan problemas del mundo real. Nos apasiona  proporcionar a los empresarios las herramientas que necesitan para tener éxito con el fin de mejorar el mundo. Creemos en el poder de la simplicidad en nuestro enfoque, nuestra comunicación y lo más importante, en nuestros productos.
 </p>
</div>