<div class="darker"></div>
<div id="large-header" class="large-header">
	<canvas id="demo-canvas"></canvas>
</div>
<div class="container">
	<div class="lead">
		<h1 class="main_title"><img src="img/kakao-logo.png" alt="Welcome to kakao media website" width="650px" height="317px" /></h1>
	</div>
	<div class="lead info_list">
		<div class='col-md-8 col-md-offset-2'>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">STARTUP CONSULTING</div>
				<div class="col-md-3 col-sm-6 col-xs-12">UX DESIGN</div>
				<div class="col-md-3 col-sm-6 col-xs-12">E-COMMERCE</div>
				<div class="col-md-3 col-sm-6 col-xs-12">WEB DEVELOPMENT</div>
			</div>
		</div>
	</div>
</div>