<div class="darker"></div>
<div id="large-header" class="large-header">
	<canvas id="demo-canvas"></canvas>
</div>
<div class="container">
	<div class="lead">
		<h1 class="main_title"><img src="img/kakao-logo.png" alt="Welcome to kakao media website" width="650px" height="317px" /></h1>
	</div>
	<div class="lead info_list">
		<div class='col-md-8 col-md-offset-2'>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12"><a id="info_list_startup" href="#title_info_startup">STARTUP CONSULTING</a></div>
				<div class="col-md-3 col-sm-6 col-xs-12"><a id="info_list_ecommerce" href="#title_info_ecommerce">E-COMMERCE</a></div>
				<div class="col-md-3 col-sm-6 col-xs-12"><a id="info_list_design" href="#title_info_design">UX DESIGN</a></div>
				<div class="col-md-3 col-sm-6 col-xs-12"><a id="info_list_web" href="#title_info_web">WEB DEVELOPMENT</a></div>
			</div>
		</div>
	</div>
</div>