<div class="container">
	<div class="lead">
		<h2 class="sub_title">HOW WE WORK</h2>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<h3>1. Define Problem</h3>
			<p>
				We believe that great companies solve important problems.
				That is why first, we must clearly understand and communicate what problem we want to solve.
				This will be the foundation and guiding light of any product we build together.
			</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<h3>2. Validate Customers</h3>
			<p>
				At the center of our process is the end-user.
				 Who are we solving the problem for? How can we validate our customer?
				 Throughout our project we will always go back to them and repeatedly ask whether what
				we are building is solving the problem for them.
			</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<h3>3. Design Solution</h3>
			<p>
				We work with you to design a Minimal Viable Product that can quickly and cost effectively
				validate your business model. Here we design the mechanisms that will validate our assumptions
				 and allow for data-driven learning approach. Clear expectations are essential to validate the solution.
			</p>
		</div>

		<div class="col-md-3 col-sm-6 col-xs-12">
			<h3>4. Make it happen</h3>
			<p>
				We build prototypes to be nimble, adaptive and scalable.
				Our process integrates high engagement with end-users.
				Using Agile Development Methodology our goal is to get our prototype in the hands of
				beta-users as quick as possible. Our aim is to start learning as much as possible as
				early as possible.
			</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<h3>5. Ship and Learn</h3>
			<p>
				With a working prototype that we can put in the end-user’s hands we begin learning.
				We make sure that we are capturing how users are reacting and using the product.
				The goal is to gather feedback and prioritize new requirements.
				We must constantly be evolving to reach a product-market fit.

			</p>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<h3>6. Iterate and Improve</h3>
			<p>
				In order to have a solid business model that creates value and also captures value is not easy,
				but our strategy is simple. After launch, we listen, learn and make small improvements
				at a time. We help you constantly learn and get better at delighting  your customer.
			</p>
		</div>
	</div>
</div>
