<div class="container">
	<div class="lead">
		<h2 class="sub_title">TEAM</h2>
	</div>

	<div class="lead">
		<div class="row">
			{% for member in site.data.team %}
				<div class="team_container col-xs-6 col-md-3">
					<a href="https://twitter.com/{{ member.twitter }}" class="thumbnail">
						<div class="flip hide-back">
							<p>
								<span class="team_title">{{ member.name }}</span>
								<span>{{ member.job }}</span>
							<!-- 	<span>{{ member.phone }}</span>
								<span>{{ member.email }}</span> -->
							</p>
						</div>
						<img src="img/{{ member.picture }}" class="flip" alt="...">
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>