<div class="container">
	<div class="lead">
		<h2 class="sub_title">OUR TOOLS</h2>
	</div>
	<div class="lead resume_tools">
		<div class="first_img">
			<img src="/img/tools.jpg" width="274px" height="265px" />
			<div class="point_guide">
				{% for i in (1..8) %} <p class="points_container"><span class="img-circle"></span></p> {% endfor %}
			</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..15) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
			<div class="pull-left img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div id="interfaces" class="img-circle media-object"><img src="/img/tools_interfaces.jpg" class="img-circle" /></div>
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">We craft a beautiful User Experience</h3>
		    	<p>
		    		 Our design is centered around the user.
						Through a balance between the logical and the emotional we provide an
						experience that aims to seamlessly guide the users through our platform,
						and ultimately delight them.
		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..29) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
	  		<div class="pull-right img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div class="img-circle media-object"><img src="/img/tools_backend.jpg" class="img-circle" /></div>
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">With a functional and efficient Backend</h3>
		    	<p>
		    		Our development philosophy is to: Make it work, better, faster.
						 We use development tools that allow us to create nimble and scalable web prodcuts
						in a short time. We pride ouself in well-written code, simplicity and efficiency.
						We are passionate about the technologies we use and are constantly improving our stack.
 		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="center_points">
				<p class="points_container"> {% for i in (1..29) %} <span class="img-circle"></span> {% endfor %} </p>
			</div>
			<div class="pull-left img_container">
				<p class="points_container"><span class="img-circle"></span></p>
				<p class="points_container"><span class="img-circle"></span></p>
				<div class="img-circle media-object"><img src="/img/tools_cloud.jpg" class="img-circle"/></div>
			</div>
		  	<div class="media-body">
		    	<h3 class="media-heading">Living in a robust Cloud</h3>
		    	<p>
		    		Our applications are built to live on the cloud.
						We believe that the accessibility, centralization, security and scalability that
						it provides are key foundations for a successful web product.
						We work hard to give you the right tools to grow your business.
		    	</p>
		  	</div>
		</div>
	</div>
</div>
