<div class="container">
	<div class="lead">
		<h2 class="sub_title">TOOLS WE LIKE TO WORK</h2>
	</div>
	<div class="lead resume_tools">
		<img src="img/tools.png" class="first_img" />
		
		<div class="media">
			<div class="pull-left img-circle media-object"></div>
		  	<div class="media-body">
		    	<h3 class="media-heading">We make beatiful interfaces</h3>
		    	<p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		    		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		    		dolor in reprehenderit in voluptate velit 
		    	</p>
		  	</div>
		</div>

		<div class="media">			
	  		<div class="pull-right img-circle media-object"></div>
		  	<div class="media-body">
		    	<h3 class="media-heading">with functional and efficient backend</h3>
		    	<p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		    		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		    		dolor in reprehenderit in voluptate velit 
		    	</p>
		  	</div>
		</div>

		<div class="media">
			<div class="pull-left img-circle media-object"></div>
		  	<div class="media-body">
		    	<h3 class="media-heading">Living in a robust cloud</h3>
		    	<p>
		    		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		    		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		    		dolor in reprehenderit in voluptate velit 
		    	</p>
		  	</div>
		</div>
	</div>
</div>