<div class="darker"></div>
<div class="container">
	<div class="lead">
		<h2 class="sub_title">WHAT WE DO</h2>
	</div>
	<div id="second-lead" class="lead">
		<div class="row">
			<div class="first_group">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="1">
						<!-- <span class="glyphicon glyphicon-user img-circle"></span> -->
						<span class="icon-rocket fontello"></span>
						<p><span>Startup Consulting</span></p>
					</div>
					<div class="info">
						<p>
						We believe that a great company solves important problems very well.
						We work with Entrepreneurs and their teams to develop a
						product roadmap as well as a work framework to guide them through
						their product development and set them up to iterate to success.
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="2">
						<!-- <span class="glyphicon glyphicon-th img-circle"></span> -->
						<span class="icon-brush fontello"></span>
						<p><span>User Experience Design</span></p>
					</div>
					<dv class="info">
						<p>
							We design for the user. We aim to deliver a simple interface
							that makes it delightfully easy to use. Our UX team focuses on every detail of the user experience.
							 We design our products to perform their job efficiently and well.
							We design products that learn and improve. And we believe that makes them beautiful.

						</p>
					</dv>
				</div>
			</div>
			<div class="second_group">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="3">
						<!-- <span class="glyphicon glyphicon-phone img-circle"></span> -->
						<span class="icon-basket fontello"></span>
						<p><span>E-Commerce</span></p>
					</div>
					<dv class="info">
						<p>
							Taking your business to the next level is our goal. We can help you create an online catalogue
							of your products and services, and even better, we can help you sell directly online.
							With the benefits of an online storefront we can help you greatly
							increase your reach, leading to more sales, more efficiently.  

						</p>
					</dv>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="title_info" data-nth="4">
						<!-- <span class="glyphicon glyphicon-pencil img-circle"></span> -->
						<span class="icon-keyboard fontello"></span>
						<p><span>Web Development<!-- Product Design --></span></p>
					</div>
					<dv class="info">
						<p>
							We develop highly customized web applications. We build using Agile Methodologies to ensure
							the fit and continious improvement of your product throughout the development lifecycle. We build
							web products to scale and to evolve using the latest technologies. We test thorougly and ensure first
							foremost that the product works for the user.
						</p>
					</dv>
				</div>
			</div>
		</div>
		<div  class="row">
			<div id="descr-row" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
			</div>
		</div>
	</div>
</div>
