<div class="darker"></div>
<div class="container">
	<div class="lead">
		<h2 class="sub_title">WHAT WE DO</h2>
	</div>
	<div class="lead">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="title_info">
					<span class="glyphicon glyphicon-user img-circle"></span>
					<p><span>Startup Consulting</span></p>
				</div>
				<dv class="info">
					<span class="arrow"></span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit						
					</p>
				</dv>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="title_info">
					<span class="glyphicon glyphicon-th img-circle"></span>
					<p><span>Web Development</span></p>
				</div>
				<dv class="info">
					<span class="arrow"></span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
					</p>
				</dv>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="title_info">
					<span class="glyphicon glyphicon-phone img-circle"></span>
					<p><span>User Interface Design</span></p>
				</div>
				<dv class="info">
					<span class="arrow"></span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
					</p>
				</dv>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="title_info">
					<span class="glyphicon glyphicon-pencil img-circle"></span>
					<p><span>Product Design</span></p>
				</div>
				<dv class="info">
					<span class="arrow"></span>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
					</p>
				</dv>
			</div>
		</div>
	</div>
</div>