<div class="container">
	<div class="lead">
		<h2 class="sub_title">WHO WE ARE</h2>
	</div>
	<p class="lead">We are a team of Entrepreneurs, Designers, Engineers, and Programmers
		 who work together to create beautiful, functional and engaging digital media that solves
		real world problems. We are passionate about providing entrepreneurs with the tools to
		be successful at improving the world. We belive in the power of simplicity in our approach,
		our communication and most importantly, in our products.
	</p>
</div>
