<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="/css/Bootstrap3.1.1/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <!-- Style CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <!-- Javascript Files -->
        <script type="text/javascript" src="/js/script.js"></script>
        <script type="text/javascript" src="/js/jquery2.0.1.min.js"></script>
        <script type="text/javascript" src="js/Bootstrap3.1.1/bootstrap.min.js"></script>

    </head>
    <body>
        <header class="navbar navbar-static-top" id="top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="../" class="navbar-brand">{{ site.name }}</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="#who_we_are">Who we are</a></li>
                        <li><a href="#what_we_do">What we do</a></li>
                        <li><a href="#how_we_work">How we work</a></li>
                        <li><a href="#tools">Tools</a></li>
                        <li><a href="#our_work">Our Work</a></li>
                        <li><a href="#team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#english">English</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="site content">
          {{ content }}
        </div>


    </body>
</html>
